@page
@model TaskManagement.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Tasks List</h2>
        </div>
        <div class="col-6" style="text-align:right">
            <a asp-page="CreateTask" class="btn btn-primary">Create a new Task</a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td width="25%">@task.Name</td>
                    <td width="25%">@task.Priority</td>
                    <td width="25%">@task.Status</td>
                    <td width="10%" class="text-center">
                        <a class="btn btn-primary" asp-page="EditTask" asp-route-id="@task.Id" mx-1>Edit</a>
                    </td>
                </tr>
            }

        </tbody>
     </table>
</div>


